

@media screen and (min-width:700px){
    .contact-app{
        align-content: center;
        margin: auto;
        background-image: linear-gradient(0.25turn, orange, rgb(255, 102, 0));
        display:grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:700px){
    .contact-app{
        align-content: center;
        margin: auto;
        background-image: linear-gradient(0.25turn, orange, rgb(255, 102, 0));
        display:grid;
        grid-template-columns: auto;
    }
}

.contact-head{
    font-size: 50px;
    margin: auto;
    padding: 1%;
}

.contact-box{
    border-color: rgb(159, 182, 182);
    border-width: 10px;
    border-style:groove;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact-form{
    margin: auto;
    font-size: 20px;
    padding: 3%;
    align-self: center;
    justify-content: center;
    grid-column: 1;
}

.buttoner{
    border-color: rgb(173, 178, 184);
    border-style: inline;
    border-width: 5px;
    margin: 5px;
}

.other-contact{
    margin:auto;
    font-size: 20px;
    font-weight: 500;
}