.item {
    text-align: center;
    width: fit-content;
    margin:auto;
    align-self: center;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: aliceblue;
    margin-bottom: 5px;
    margin-top: 5px;
  }