
@media screen and (max-width: 700px){
    .NavStyle{
        padding: 10px;
        background: rgb(71, 71, 71);
        min-height: 40px;
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
        border-style: outset;
        }

    .NavOuter{
        margin: 10px 10px 10px 10px;
        border-style:inset;
        border-width: 7px;
        border-color: black;
        border-radius: 10px;
        max-width: fit-content;
    }
}

@media screen and (min-width: 700px){
    .NavStyle{
        padding: 10px;
        background: rgb(71, 71, 71);
        min-height: 40px;
        align-content: center;
        display:flex;
        border-style: outset;
        }

        .NavOuter{
            margin: 0px 10px 0px 10px;
            border-style:inset;
            border-width: 7px;
            border-color: black;
            border-radius: 10px;
            max-width: fit-content;
        }
}

a{
    text-decoration: none;
}
    